/* Global Styles */
body {
    margin: 0 250px; 
    padding: 0;
    background-color: #0A1B24;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

  
h2 {
    font-family: 'Yeseva One', serif;
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 20px;
}

h3 {
    font-family: 'Yeseva One', serif;
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 20px;
    color: #00ff9d;
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    margin: 20px 0;
    font-size: 0.9rem;
}
.ligne-blanche {
    border: none; 
    height: 1px; 
    background-color: white; 
    width: 100%; 
}
.container {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh;
    text-align: left;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 1.5rem;
    }

    nav ul {
        flex-direction: column;
    }
}